In [8]:
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import pandas as pd

# Seeding to make sure that we get exact same result everytime the code is run

In [9]:
seed = 7
np.random.seed(seed)

In [12]:
input_file = 'KerasDownloads/BBC.csv'
input_df = pd.read_csv(input_file)

# Preview

In [11]:
input_df.head()

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,5,1,90000,2,0,5,1,0,2,2,50,1
1,5,1,60000,3,3,5,0,1,1,2,51,1
2,5,1,60000,3,3,5,1,1,5,2,51,1
3,5,2,70000,0,0,5,0,1,10,2,49,1
4,5,2,80000,5,5,5,1,4,2,2,48,1

In [14]:
array = input_df.values
X = array[:, 0:11]
Y = array[: 11]

# Build the model

Models in keras are defined as the sequence of layers

  First layer is the input layer and the subsequential are hidden layers except the output layer. This forms a `Sequential` model.
  
  Neurons in the layer are fully connected, meaning every neuron in ith layer is connected to every neuron in (i+1)th layer. For this we use `Dense` layering structure

In [ ]:
model = Sequential()
model.add(Dense(11, input_dim = 11, init = 'uniform', activation = 'relu')) # input layer
model.add(Dense(8, init = 'uniform', activation = 'relu')) # 1st hidden layer
model.add(Dense(8, init = 'uniform', activation = 'relu')) # 2nd hidden layer
model.add(Dense(1, init = 'uniform', activation = 'sigmoid')) # output layer